<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de Cuenta</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #007BFF;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Recuperación de Cuenta</h1>
        <p>Hola, {{ email }}.</p>
        <p>Hemos recibido una solicitud para recuperar tu cuenta. Utiliza el siguiente código para restablecer tu
            contraseña:</p>
        <p><strong>Código:</strong> {{ code }}</p>
        <p>Este código expirará en un tiempo determinado. Si no has solicitado la recuperación de cuenta, por favor
            ignora este mensaje.</p>
        <p>Gracias,</p>
        <p>Equipo de Recuperación de Cuenta</p>
    </div>
</body>

</html>